.personal-data-form {

  // Allows input fields to width of 100%
  display: flex;
  flex-direction: column;

  .mat-form-field {
    margin-bottom: 20px;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .reset {
      margin-right: 20px;
    }
  }

}
