// base color #000424

$ix-deep-blue: (
  50 : #e3dede, // h: 233  s: 2  b: 90
  100 : #37537B,
  200 : #224575 ,
  300 : #1B375D,
  400 : #152C4A,
  500 : #092142, // h: 233  s: 80  b: 15
  600 : #041B3B ,
  700 : #03132A,
  800 : #020E1F,
  900 : #010915,
  A100 : #213E8C,
  A200 : #1e1eff,
  A400 : #0000ea,
  A700 : #0000d0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$ix-deep-mat-blue: (
  50 : #e3dede, // h: 233  s: 2  b: 90
  100 : #6B6F76,
  200 : #575C63 ,
  300 : #4E5259,
  400 : #3D4147,
  500 : #313439, // h: 233  s: 80  b: 15
  600 : #242930 ,
  700 : #171A1F,
  800 : #141A26,
  900 : #121823,
  A100 : #213E8C,
  A200 : #1e1eff,
  A400 : #0000ea,
  A700 : #0000d0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

