<sw-header></sw-header>
<div class="pad-20">
  <h2>Birds Of A Feather</h2>
  <p>
    You are the people who you surround yourself. How diverse is your social circle?
    Are you an extrovert among extroverts? Are your diet and exercise habits the same?
  </p>
  <p class="push-bottom-100">
    Below is a tool for fundamental analysis of your friends to compare dietary and
    physical activity habits, age range, and how large is their social circle. Guess
    the details; this is just a fun way to distinguish your friends — <strong>to learn more about yourself</strong>!
  </p>

  <sw-people></sw-people>
</div>
